<MAppBar ElevateOnScroll="true" ClippedLeft="true" App="App" Height="84">
    <MAppBarNavIcon Class="d-md-none" OnClick="()=>open=!open" />

    <MSpacer Class="d-md-none" />
    @*WebSite Title*@
    <MButton Text="true" XLarge="true" Class="px-4" OnClick="@(_=>Popup.EnqueueSnackbarAsync("未设置"))">
        <MySvg SvgUrl="files/img/logo.svg" Height="40" Width="40*4" />
    </MButton>
    <MSpacer Class="d-md-none" />


    <div class="d-none d-md-flex flex-row" style="align-items: center;flex:1;margin-left:10%">
        <NavTabs />
        <MSpacer />
        <SettingBtns />
    </div>

</MAppBar>


<MNavigationDrawer @bind-Value=open Class="d-md-none py-4" App="true" Clipped="true" DisableResizeWatcher="true">
    <PrependContent>
        <MButton Text="true" XLarge="true" Block="true" Href="https://github.com/dotnet9/CodeWF" Target="_blank" OnClick="_=>open=false">
            <MySvg SvgUrl="files/img/logo.svg" Height="40" Width="40*4" />
        </MButton>
        <MDivider Class="my-4" />
    </PrependContent>

    <ChildContent>
        <NavTabs Vertical="true" />
    </ChildContent>

    <AppendContent>
        <MDivider Class="my-4" />
        <SettingBtns Vertical="true" />
    </AppendContent>

</MNavigationDrawer>