@inherits BaseComponent
@inject AppService AppService

<div class="fluent-container fluent-widget friend-links" data-aos="fade-up">
    <div class="d-flex flex-wrap align-items-center">
        <span class="fluent-title-small mr-3">友情链接: </span>
        @if (_links?.Any() != true)
        {
            <AntEmpty/>
        }
        else
        {
            <div class="fluent-links-container">
                @foreach (var link in _links)
                {
                    <a href="@link.Link" target="_blank" title="@link.Description" class="fluent-link mr-3 mb-2">@link.Title</a>
                }
            </div>
        }
    </div>
</div>

@code {
    private List<FriendLinkItem>? _links;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        _links = await AppService.GetAllFriendLinkItemsAsync();
    }
}