@inject IOptions<SiteOption> SiteOption

<a href="/" class="logo-link">
    <div class="logo-container">
        <img src="@SiteOption.Value.Favicon" alt="@SiteOption.Value.AppTitle" title="@SiteOption.Value.AppTitle" class="logo-image" />
        <span class="logo-text">@SiteOption.Value.AppTitle</span>
    </div>
</a>