<a href="/" class="logo-link">
    <div class="logo-container">
        <img src="favicon.png" alt="Logo" title="CodeWF Logo" class="logo-image"/>
        <span class="logo-text">码界工坊</span>
    </div>
</a>