<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img src="img/logo.png" />
                <div class="desc">专注C#和Blazor技术，为开发者提供优秀开发框架！</div>
            </div>
            <div class="col-12 col-md">
                <div class="row">
                    <div class="col-6 col-md" style="margin-top:1rem;">
                        <h5 class="mb-4 text-white">相关链接</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://www.cnblogs.com/known">博客</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://space.bilibili.com/3546586514721249">视频</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="./api">类库API</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="./log">更新日志</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md" style="margin-top:1rem;">
                        <h5 class="mb-4 text-white">相关资源</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://blazor.net/docs/components/index.html">Blazor文档</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://antblazor.com">Ant Design Blazor</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://fontawesome.com.cn">Fontawesome中文网</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md" style="margin-top:1rem;">
                        <div class="qrcode"><img src="./img/qrcode.jpg" width="180" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>©2020-@DateTime.Now.Year CodeWF</span>
            <a class="text-muted" target="_blank" href="https://beian.miit.gov.cn">备案号</a>
        </div>
    </div>
</footer>