@inherits BaseComponent
@inject AppService AppService

<CmsCard Class="cl-bbs-menu" Icon="far fa-sitemap" Title="博文专辑">
    @if (_albums != null && _albums.Count > 0)
    {
        foreach (var item in _albums)
        {
            <a href="@ConstantUtil.GetBbsAlbumUrl(item.Slug)" class="@(IsActive(item.Slug)?"active":"")">
                @* <i class="@item.Icon" /> *@
                <span style="margin-left:10px;">@item.Name</span>
            </a>
        }
    }
</CmsCard>

@code {
    private List<AlbumItem> _albums = [];

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        var lists = await AppService.GetAllAlbumItemsAsync();
        _albums = lists?.OrderBy(c => c.Sort).ToList();
    }


    private bool IsActive(string code)
    {
        var uri = Navigation.Uri.Split('?')[0];
        code = code.ToLower();
        if (code == "" && uri.EndsWith("/bbs"))
            return true;

        return uri.EndsWith($"/{code}");
    }
}