@inherits BaseComponent
@inject AppService AppService

<CmsCard Class="cl-bbs-menu" Icon="far fa-sitemap" Title="博文分类">
    @if (_categories is { Count: > 0 })
    {
        foreach (var item in _categories)
        {
            <a href="@ConstantUtil.GetBbsCategoryUrl(item.Slug)" class="@(IsActive(item.Slug)?"active":"")">
                @* <i class="@item.Icon" /> *@
                <span style="margin-left:10px;">@item.Name</span>
            </a>
        }
    }
</CmsCard>

@code {
    private List<CategoryItem> _categories = [];

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        var lists = await AppService.GetAllCategoryItemsAsync();
        _categories = lists?.OrderBy(c => c.Sort).ToList();
    }


    private bool IsActive(string code)
    {
        var uri = Navigation.Uri.Split('?')[0];
        code = code.ToLower();
        if (code == "" && uri.EndsWith("/bbs"))
            return true;

        return uri.EndsWith($"/{code}");
    }
}