@page "/{year}/{month}/{slug}"
@page "/post/{year}/{month}/{slug}"
@page "/bbs/post/{year}/{month}/{slug}"

@inherits BaseComponent
@inject AppService AppService
@inject IOptions<SiteOption> SiteOption

<PageTitle>@model?.Title - @SiteOption.Value.AppTitle</PageTitle>

<div class="container cl-container cl-post">
    <div>
        <CmsCard>
            <HeadTemplate>
                <CmsTitle Icon="far fa-file" Title="码界工坊—文章启智，工具助力"/>
                <UPostCount Post="model"/>
            </HeadTemplate>
            <ChildContent>
                <div class="title">@model?.Title</div>
                <UPostInfo Title="@model?.Title" Content="@model?.HtmlContent" />
                <div class="button">
                    <a href="@ConstantUtil.GetPostGithubPath(SiteOption.Value.RemoteAssetsRepository, model)" target="_blank">在Github上编辑此文或留言</a>
                </div>
            </ChildContent>
        </CmsCard>
        <div style="height:20px;"></div>
    </div>
    <div>
        <UWebSiteCount/>
        <div style="height: 20px;"></div>
        <UPostRank />
    </div>
</div>

@code {
    private BlogPost? model;

    [Parameter] public string? Year { get; set; }
    [Parameter] public string? Month { get; set; }
    [Parameter] public string Slug { get; set; }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        model = await AppService.GetPostBySlug(Slug);
    }

}