@page "/{slug}"
@page "/{year}/{month}/{slug}"
@page "/post/{year}/{month}/{slug}"
@page "/bbs/post/{year}/{month}/{slug}"
@inherits BaseComponent
@inject AppService AppService

<PageTitle>@model?.Title - @AppConfig.AppTitle</PageTitle>

<UMenuBar Target="cl-bbs-menu" />
<div class="container cl-container cl-bbs">
    <UCategory/>
    <CmsCard>
        <HeadTemplate>
            <CmsTitle Icon="far fa-file" Title="@model?.Title" />
            <UPostCount Post="model"/>
        </HeadTemplate>
        <ChildContent>
            @CmsUtils.GetMarkdownHtml(model?.Content)
            <div class="button">
                <AntButton Name="返回" Type="default" OnClick="location = './bbs';"/>
            </div>
        </ChildContent>
    </CmsCard>
    <div>
        <UWebSiteCount />
        <div style="height:20px;"></div>
        <UPostRank />
    </div>
</div>

@code {
    private BlogPost? model;

    [Parameter] public string? Year { get; set; }
    [Parameter] public string? Month { get; set; }
    [Parameter] public string Slug { get; set; }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        model = await AppService.GetPostBySlug(Slug);
    }
}