@inherits LayoutComponentBase
@using BlogWebSite.Client.Componets
@using BlogWebSite.Client.Layout.Componets;

<MApp>
    <MMain>
        <AppNav />

        <MContainer Fluid="true">
            <MErrorHandler>
                <MCard Title="@server" Subtitle="server" />
                <MCard Title="@wasm" Subtitle="wasm" />
                @Body
            </MErrorHandler>
        </MContainer>
    </MMain>
</MApp>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    string wasm = "not";
    string server = "not";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (IRenderMode.IsWasm())
        {
            wasm = "Is";
            await CheckTheme();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender) // 只在第一次渲染后调用
        {
            if (IRenderMode.IsWasm() is false)
            {
                server = "Is";
                await CheckTheme();
            }
        }
         
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task CheckTheme()
    {
        var themeName = (await MasaLS.GetItemAsync("masablazor@theme"));

        MasaBlazor.SetTheme(themeName is "dark");

        // MasaBlazor.OnThemeChange += theme => InvokeAsync(StateHasChanged);
    }
}