@foreach (var item in Items)
{
    <div style="margin-bottom:10px;">
        <div>//@item.Description</div>
        <div><code>@item.FullName</code></div>
        @if (item.Params.Count > 0)
        {
            <table>
                <tr>
                    <th style="width:130px;">参数名</th>
                    <th>参数描述</th>
                </tr>
                @foreach (var param in item.Params)
                {
                    <tr>
                        <td>@param.Name</td>
                        <td>@param.Description</td>
                    </tr>
                }
            </table>
        }
    </div>
}

@code {
    /// <summary>
    /// 取得或设置文档方法列表。
    /// </summary>
    [Parameter] public List<DocMethod> Items { get; set; }
}