<table>
    <tr>
        <th style="width:130px;">属性名</th>
        @* <th style="width:100px;">属性类型</th> *@
        <th>属性描述</th>
    </tr>
    @foreach (var item in Items)
    {
        <tr>
            <td>@item.Name</td>
            @* <td>@item.Type</td> *@
            <td>@item.Description</td>
        </tr>
    }
</table>

@code {
    /// <summary>
    /// 取得或设置文档属性列表。
    /// </summary>
    [Parameter] public List<DocProperty> Items { get; set; }
}