<table>
    <tr>
        <th style="width:130px;">字段名</th>
        <th>字段描述</th>
    </tr>
    @foreach (var item in Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
        </tr>
    }
</table>

@code {
    /// <summary>
    /// 取得或设置文档字段列表。
    /// </summary>
    [Parameter] public List<DocField> Items { get; set; }
}