/old
/src/CodeWF/obj
/src/WebApp/bin
/src/WebApp/obj
/.vs
/.vs
/src/CodeWF/bin
/src/WebApp/wwwroot/UploadIcons
src/WebApp/WebApp.csproj.user
src/WebApp/appsettings.Development.json
src/WebApp/appsettings.Production.json
src/WebApp/Properties/PublishProfiles/FolderProfile.pubxml.user
/.dotnet
