@page "/doc"
@page "/doc/{slug}"

@inherits BaseComponent
@inject IOptions<SiteOption> SiteOptions
@inject AppService AppService

<PageTitle>@model?.Name - @SiteOptions.Value.AppTitle</PageTitle>

<UMenuBar Target="cl-doc-menu"/>
<div class="container cl-container cl-doc">
    <UDocMenu/>
    <CmsCard>
        <HeadTemplate>
            <WechatPublicLink />
            @if (!string.IsNullOrWhiteSpace(model?.Repository))
            {
                <div class="count">
                    <i class="far fa-eye"/>
                    <a href="@model?.Repository" target="_blank">看看Github上的源码</a>
                </div>
            }
        </HeadTemplate>
        <ChildContent>
            <UPostInfo Title="@model?.Name" Markdown="@model?.Content" Content="@model?.HtmlContent" />
        </ChildContent>
    </CmsCard>
</div>

@code {
    private DocItem? model;

    [Parameter] public string? Slug { get; set; }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        model = await AppService.GetDocItemAsync(Slug);
    }

}