@inherits BaseComponent

<div class="ant-skeleton">
    <div class="ant-skeleton-content">
        <h3 class="ant-skeleton-title" style="width:38%"></h3>
        <ul class="ant-skeleton-paragraph">
            <li style="width:100%"></li>
            <li style="width:100%"></li>
            <li style="width:61%"></li>
        </ul>
    </div>
</div>

@code {

}