@using CodeWF.Blog.Web.Client.IServices
@using CodeWF.Blog.Web.Client.Models.FriendLinks
@rendermode InteractiveServer

@inject IFriendLinkService Service

@if (_links?.Count > 0)
{
    <span>友情链接：</span>
    @foreach (var link in _links.OrderBy(p => p.Index))
    {
        <a href="@link.Link" target="_blank" title="@link.Description">@link.Title</a>
        <FluentSpacer Width="10" />
    }
    <span>交换友情链接请联系微信号：codewf</span>
}

@code {
    private List<FriendLink>? _links;

    protected override async Task OnInitializedAsync()
    {
        _links = await Service.GetFriendLinksAsync();
    }

}