@using CodeWF.Blog.Web.Client.IServices
@using CodeWF.Blog.Web.Client.Models.FriendLinks
@rendermode InteractiveAuto

@inject IFriendLinkService Service

@if (_links?.Count > 0)
{
    @foreach (var link in _links.OrderBy(p => p.Index))
    {
        <a href="@link.Link" target="_blank" title="@link.Description">@link.Title</a>
    }
}

@code {
    private List<FriendLink>? _links;

    protected override async Task OnInitializedAsync()
    {
        _links = await Service.GetFriendLinksAsync();
    }

}