<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="CodeWF|.NET|dotnet|WPF|AvaloniaUI|Blazor|MAUI|开发框架|webassembly|沙漠尽头的狼"/>
    <meta name="description" content="码界工坊是一个热衷于互联网分享精神的网站，这里有工具，也有文章，助力开发人员和IT工作者。"/>
    <base href="/"/>
    <link rel="stylesheet" href="_content/Masa.Blazor/css/masa-blazor.min.css"/>
    <link rel="stylesheet" href="css/standard.css"/>
    <link rel="stylesheet" href="css/shared.css"/>
    <link rel="stylesheet" href="css/small-shared.css" media="(max-width: 960px)"/>

    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="CodeWF.styles.css"/>
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.css"/>
    <link rel="icon" href="https://img1.dotnet9.com/site/logo.ico" type="image/x-icon"/>
    <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002"
            crossorigin="anonymous"></script>

    <HeadOutlet/>
    <MSsrThemeProvider/>
</head>

<body>
<Routes/>

<script src="_framework/blazor.web.js"></script>
<script src="_content/Masa.Blazor/js/masa-blazor.js"></script>
<script src="js/shared.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.js"></script>
</body>

</html>