html {
}

.vector-197 {
    position: fixed;
    left: calc((100% - 1596px) / 2 + 21px);
    top: 46.2%;
}

.vector-198 {
    position: fixed;
    left: calc((100% - 1596px) / 2 + 704px);
    top: 44.27%;
}

.rectangle-723 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(80px);
}

.website-shared {
    background: rgba(240, 243, 250, 1) !important;
}

    .website-shared .gradual-btn {
        border: solid 3px transparent !important;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(83.29deg, #6946FF 5.89%, #05CD99 101.4%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #EAE8FD inset;
    }

    .website-shared .appbar {
        backdrop-filter: blur(48px);
        background-color: transparent !important;
    }

    .website-shared .m-toolbar__content {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1596px;
        margin: 0 auto;
    }

        .website-shared .menu-list {
            background: #fff;
            padding: 32px 24px;
            border-radius: 16px 0 16px 16px;
            width: 455px;
            margin-top: 6px;
        }

            .website-shared .menu-list .m-subheader, .website-shared .menu-list .m-list-item {
                margin-bottom: 13px;
            }

                .website-shared .menu-list .m-list-item:last-child {
                    margin-bottom: 0;
                }

            .website-shared .menu-list .m-list--dense .m-list-item .m-list-item__content, .m-list-item--dense .m-list-item__content {
                padding: 0;
            }

            .website-shared .menu-list .m-list-item__content > :not(:last-child) {
                margin-bottom: 0;
            }

    .website-shared .footer-content {
        max-width: 1596px;
        margin: 0 auto 48px;
    }

        .website-shared .footer-content .footer-content__logo {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 76px;
        }

            .website-shared .footer-content .footer-content__logo img {
                margin-bottom: 24px;
            }

        .website-shared .footer-content .footer-content__item {
        }
        
        .website-shared .footer-content .footer-content__item .contacts {
            display: flex;
            flex-direction: column;
        }

        .website-shared .footer-content .footer-content__item.business .contact-item {
            display: flex;
            align-items: center;
            margin-bottom: 36px;
        }

        .website-shared .footer-content .footer-content__item.business .contact-item > a {
            font-size: 18px;
            color: white;
            text-decoration: none;
        }

        .website-shared .footer-content .footer-content__item.business .contact-item:last-child {
            margin-bottom: 0;
        }
        
            .website-shared .footer-content .footer-content__item .m-card__title {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 14px;
            }

            .website-shared .footer-content .footer-content__item .m-card__text {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
            }

        .website-shared .footer-content .footer-content__map .map-item__title {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
            margin-bottom: 24px;
        }

            .website-shared .footer-content .footer-content__map .map-item__title .prefix {
                display: inline-block;
                width: 8px;
                height: 24px;
                background: #05CD99;
                border-radius: 8px;
                margin-right: 8px;
            }

        .website-shared .footer-content .footer-content__map ul {
            list-style: none;
            padding-left: 16px;
        }

        .website-shared .footer-content .footer-content__map li a {
            font-weight: 500;
            font-size: 18px;
            line-height: 48px;
            letter-spacing: 0.01em;
            color: white !important;
            text-decoration: none;
        }

    /* Home */

    .website-shared .home-banner {
        max-width: 1596px;
        margin: 0 auto;
        height: calc(100vh - 206px);
    }
    
    .website-shared .home-banner.without-carousels {
        height: calc(100vh - 100px);
    }

        .website-shared .home-banner .intro-wrapper {
            display: flex;
            align-items: center;
        }

        .website-shared .home-banner .intro {
            margin-left: 81px;
            margin-bottom: 48px;
            margin-top: -10.87%;
        }

        .website-shared .home-banner .intro-title {
            font-weight: 600;
            font-size: 60px;
            line-height: 80px;
            letter-spacing: -0.5px;
            color: #323D6F;
            margin-bottom: 24px;
            width: 100%;
            white-space: pre-wrap;
        }

        .website-shared .home-banner .intro-subtitle {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #7681AB;
            opacity: 0.9;
            margin-bottom: 48px;
        }

        .website-shared .home-banner .intro-actions {
            display: flex;
            align-items: center;
        }

            .website-shared .home-banner .intro-actions .m-btn:not(.demo-btn) {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #1B2559;
                letter-spacing: 0.08em;
                width: 240px;
                height: 84px;
                border: 3px solid #323D6F;
                border-radius: 40px;
                padding: 0;
            }

                .website-shared .home-banner .intro-actions .m-btn:first-child {
                    margin-right: 24px;
                }

.home-menu-hover:hover {
    background: #F6F8FD;
}

        .website-shared .home-banner .cover-wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .website-shared .home-banner .cover {
            overflow: hidden;
            height: calc(100vh - 100px);
        }

        .website-shared .home-banner .home-banner__slider-wrapper {
            background: rgba(247, 249, 253, 0.8);
            /*backdrop-filter: blur(48px);*/
            position: absolute;
            width: 100vw;
            height: 106px;
            left: 0;
            top: calc(100vh - 206px);
        }

            .website-shared .home-banner .home-banner__slider-wrapper.desktop {
                background: #F7F9FD;
                position: absolute;
                width: 100vw;
                height: 200px;
                left: 0;
                top: calc(100vh - 300px);
            }

                .website-shared .home-banner .home-banner__slider-wrapper.desktop .core {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 60px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    margin-top: 85px;
                }

        .website-shared .home-banner .slider {
            max-width: 1596px;
            margin: 0 auto;
            ;
        }

        .website-shared .home-banner .slider-item {
            display: flex;
            padding: 24px 24px 0;
            justify-content: center;
            cursor: pointer;
        }

            .website-shared .home-banner .slider-item .number {
                margin-right: 16px;
                margin-top: -6px;
                font-weight: 700;
                font-size: 34px;
                line-height: 51px;
                letter-spacing: 0.02em;
                color: #E2E7F4;
            }

                .website-shared .home-banner .slider-item .number.active {
                    color: #1B2559;
                }

    .website-shared .home-content {
        max-width: 1596px;
        margin: 0 auto;
        padding-bottom: 100px;
    }

        .website-shared .home-content .home-content__item {
            padding-top: 100px;
        }
        
        .website-shared .home-content .home-content__item:first-child {
            margin-top: 100px;
        }

            .website-shared .home-content .home-content__item .framework-diagram {
                margin-left: 9.1%;
            }

            .website-shared .home-content .home-content__item.full-page {
                margin-top: 100px;
                height: calc(100vh - 100px);
            }

                .website-shared .home-content .home-content__item.full-page.fire {
                    height: auto;
                }

        .website-shared .home-content .home-content__item-header {
            margin: 16px auto;
        }

        .website-shared .home-content .home-content__item-title {
            font-weight: 900;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            color: #323D6F;
            margin-bottom: 16px;
            cursor: auto;
        }

        .website-shared .home-content .home-content__item-subtitle {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #A3AED0;
        }

        .website-shared .home-content .home-content__item-cards {
            margin-top: 100px;
        }

        .website-shared .home-content .home-content__item-footer {
            text-align: right;
        }

    /* ProductCard */

    .website-shared .product-card {
        padding: 48px 48px 22px;
        min-height: 462px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(140px);
        border-radius: 24px;
        border: 1px solid #FFFFFF;
    }

        .website-shared .product-card .product-card__header {
            padding-top: 16px;
            padding-bottom: 8px;
            margin-bottom: 24px;
            text-align: center;
        }

        .website-shared .product-card .product-card__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            letter-spacing: 0.02em;
            color: #1B2559;
        }

        .website-shared .product-card .product-card__desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 36px;
            text-align: justify;
            letter-spacing: 0.03em;
            color: #7681AB;
            margin-bottom: 24px;
            min-height: 135px;
        }

        .website-shared .product-card .product-card__footer {
            text-align: right;
        }

    /* ActivityCard */

    .website-shared .activity-card {
        height: 441px;
    }

        .website-shared .activity-card .activity-card__header {
            display: flex;
            align-items: baseline;
            margin-bottom: 8px;
        }

        .website-shared .activity-card .activity-card__date {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #323D6F;
            margin-right: 8px;
        }

        .website-shared .activity-card .activity-card__time {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #A3AED0;
        }

        .website-shared .activity-card .activity-card__desc {
            cursor: pointer;
            margin-bottom: 16px;
        }
        
        .activity-card__desc .m-image {
            border-radius: 16px;
            height: 290px;
            width: auto;
        }

        .website-shared .activity-card .activity-card__footer {
            display: flex;
        }

        .website-shared .activity-card .activity-card__group {
            margin-right: 8px;
        }

        .website-shared .activity-card .activity-card__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.01em;
            color: #1B2559;
            margin-bottom: 4px;
        }

            .website-shared .activity-card .activity-card__title:hover{
                cursor: pointer;
            }

            .website-shared .activity-card .activity-card__subtitle {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                color: #A3AED0;
            }


        .website-shared .menuable-title__content {
            box-shadow: none;
            width: 375px;
            filter: drop-shadow(0px 18px 40px rgba(112, 144, 176, 0.12));
        }

        .website-shared .menuable-title__content .m-list {
            border-radius: 0 0 16px 16px;
            padding: 16px 0;
        }

    /* CommonCard */
    .website-shared .common-card {
        display: flex;
        padding: 36px 24px;
        gap: 24px;
        background: #FFFFFF;
        border-radius: 20px
    }

        .website-shared .common-card .common-card__image {
            width: 66px;
            height: 66px;
        }

        .website-shared .common-card .common-card__title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1B2559;
        }

        .website-shared .common-card .common-card__subtitle {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: justify;
            letter-spacing: 0.5px;
            color: #323D6F;
        }

        .website-shared .common-card .common-card__content {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #7681AB;
            margin-top: 16px;
        }

    .service-card {
        display: flex;
        flex-direction: column;
        padding: 48px;
        border-radius: 20px;
    }
    
    .service-card .header {
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service-card .header-icon {
        margin-bottom: 16px;
    }

    .service-card .header-title {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 51px;
        color: #1B2559;
        letter-spacing: 0.02em;
    }
    
    .service-card .contents {
        margin-top: 48px;
    }
    
    .service-card .content-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }
    
    .service-card .content-item .major {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    
    .service-card .content-item .minor {
        margin-left: 30px;
        font-size: 16px;
    }
    
    .service-card .content-item:last-child {
        margin-bottom: 0;
    }

    .website-shared .why-card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 36px 24px;
        gap: 24px;
        background: #FFFFFF;
        border-radius: 20px;
    }

        .website-shared .why-card .why-card__title {
            padding-left: 12px;
            display: flex;
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1B2559
        }

        .website-shared .why-card .why-card__ul {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.01em;
            color: #7681AB;
            margin-top: 48px;
        }

        .website-shared .why-card .why-card__li {
            margin-left:10px;
            vertical-align: middle
        }

    .website-shared .building-block-card {
        display: flex;
        align-items: center;
        padding: 24px 16px;
        gap: 24px;
        background: #FFFFFF;
        border-radius: 16px;
        height: 200px;
    }

        .website-shared .building-block-card .building-block-card__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            letter-spacing: 0.02em;
            color: #1B2559;
            text-align: center;
        }

        .website-shared .building-block-card .building-block-card__content {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.01em;
            color: #323D6F;
            margin-top: 8px;
            text-align: center;
        }

.building-block-card__actions{
    display: flex;
}

.building-block-card__gradual-btn {
    border: solid 3px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(83.29deg, #6946FF 5.89%, #05CD99 101.4%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #FFFFFF inset;
    margin: 8px auto;
}

.building-block-card__actions .m-btn {
    height: 62px !important;
    width: 157px;
    border-radius: 40px;
}

    .website-shared .home-content .building-block__item-cards {
        margin-top: 100px;
    }

    .website-shared .blazor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 24px 127px 24px;
        background: #FFFFFF;
        border-radius: 20px;
        height: 470px;
    }
        .website-shared .blazor-card .blazor-card__image {
        }

        .blazor-card__image img {
            height: 96px;
            width: 96px;
        }

        .website-shared .blazor-card .blazor-card__title {
            margin-top: 24px;
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #323D6F;
        }

.blazor-card__margin-bottom {
    margin-bottom: 100px;
}

        .website-shared .blazor-card .blazor-card__description {
            margin-top: 20px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.06em;
            color: #7681AB;
        }

    .website-shared .aboutus-card {
        display: flex;
        height: 334px;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.45);
        margin-top: 80px;
    }

        .website-shared .aboutus-card .aboutus-card__image {
            margin-top: 24px;
        }
        
        .aboutus-card__image {
            height: 210px;
            width: 280px;
        }

        .website-shared .aboutus-card .aboutus-card__description {
            font-size: 24px;
            line-height: 36px;
            color: #485585;
            margin-bottom: 48px;
            margin-top: 16px;
        }

.activity-header__title {
    margin-top: 20px;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -0.5px;
}

.activity-header__subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #1B2559;
    opacity: 0.9;
}

.activity-header__description {
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #7681AB;
    opacity: 0.9;
}

.activity-content1 {
    margin: 50px 0 20px;
}

.activity-content__select {
    margin-left: 48px;
}

    .activity-content__select-radius{
        border-radius: 10px;
    }

    .activity-detail__image {
        border-radius: 16px;
        width: 800px;
        margin: 96px auto 0;
    }

        .activity-detail__image-height{
            height: 30vw;
        }

        .activity-detail__button-text {
            text-decoration: underline;
            border-width: 0;
            font-size: 24px;
            line-height: 36px;
            padding: 0 0;
        }

    .website-shared .activity-content {
        max-width: 1596px;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .website-shared .activity-content .activity-content__item {
        padding-top: 50px;
    }

    .website-shared .activity-content .activity-content__item-header {
        margin: 16px auto;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: #323D6F;
    }
    
    .activity-content__item-header .home-content__item-title {
        color: #323D6F;
    }

.demo-btn__tooltip {
    background: white;
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px;
    opacity: 0;
    word-break: break-all;
}

.demo-btn__tooltip.menuable__content__active {
    opacity: .7;
}

.about-company-cover {
    border-radius:28px;
    margin-top:120px;
    flex:none;
}

.about-desc {
    text-indent:48px;
    font-size:24px;
    line-height:48px;
    letter-spacing:0.04em;
}

.m-window-x-transition-enter-active, .m-window-x-transition-leave-active, .m-window-x-reverse-transition-enter-active, .m-window-x-reverse-transition-leave-active, .m-window-y-transition-enter-active, .m-window-y-transition-leave-active, .m-window-y-reverse-transition-enter-active, .m-window-y-reverse-transition-leave-active {
    transition: 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.follow-us-icon {
    width: 60px !important;
    height: 60px !important;
}

.follow-us-icon .cover {
    width: 36px;
}

.follow-us-icon .m-icon {
    font-size: 36px !important;
}

.fill-height-on-desktop {
    height: 100%;
}

.cover-wrapper .m-image {
    max-height: 874px;
    max-width: 874px;
    min-height: 874px;
}

.aboutus__logo {
    width: 320px;
    height: 320px;
    margin-top: -100px;
}

.aboutus__contact-img {
    width: 280px;
}

.m-main {
    padding-top: 100px !important;
}

#follow-us-image {
    position: absolute;
}

#follow-us-image img {
    width: 180px;
}

#follow-us-image.wechat {
    left: -60px;
}

#follow-us-image.qq {
    left: 36px;
}

.more-button {
    color: #485585 !important;
    font-size: 18px !important;
    letter-spacing: 0.01rem;
}

.more-button .m-icon {
    font-size: 24px;
}

.aboutus__banner {
    width: 50vw;
    max-width: 320px;
}

.live-demo-menu {
    background-color: white;
    border-radius: 8px;
    padding: 12px 16px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    font-size: 14px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}
