/*toc*/
@media (max-width: 800px) {
  #toc {
    display: none;
    max-width: 0px;
  }
}
@media (min-width: 768px) {
  #toc {
    display: unset;
    left: calc((100vw + 0720px) / 2 - 280px);
    max-width: calc((100vw - 0720px) / 2 + 220px);
  }
}
@media (min-width: 992px) {
  #toc {
    left: calc((100vw + 0960px) / 2 - 280px);
    max-width: calc((100vw - 0960px) / 2 + 220px);
  }
}
@media (min-width: 1200px) {
  #toc {
    left: calc((100vw + 1140px) / 2 - 280px);
    max-width: calc((100vw - 1140px) / 2 + 220px);
  }
}
@media (min-width: 1920px) {
  #toc {
    left: calc((100vw + 1360px) / 2 - 280px);
    max-width: calc((100vw - 1360px) / 2 + 220px);
  }
}

#toc {
  padding: 1em;
  position: fixed;
  top: 100vh;
  /*right: 2%;*/
  width: auto;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fff; /* 可以设置背景颜色 */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 可选的阴影效果 */
  z-index: 1000; /* 确保在其他元素之上 */
  transition: all 0.5s ease;
  &.toc-show {
    top: 100px;
  }
  a {
    display: block; /* 使链接成为块级元素 */
    white-space: nowrap; /* 不允许换行 */
    overflow: hidden; /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 使用省略号替代溢出部分 */
    padding-block: 5px;
  }

  .item-title {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .item-h2 {
    padding-inline-start: 8px;
  }

  .item-h3 {
    padding-inline-start: 16px;
  }

  .item-h4 {
    padding-inline-start: 24px;
  }
}

/*toc*/
