@inject IJSRuntime JS

<div class="@($"home-banner__slider-wrapper {Class}")"
     style="background-image: url('https://cdn.masastack.com/images/mUnion.png'); background-size: 100% 100%">
    <div style="display: contents"
         @onclick="ScrollToNextViewAsync">
        <MIcon Small Color="#E2E7F4">mdi-chevron-double-up</MIcon>
        <div class="more">@MoreText</div>
    </div>
</div>

@code {

    [Parameter] public string? MoreText { get; set; }

    [Parameter] public string? Class { get; set; }

    async Task ScrollToNextViewAsync()
    {
        await JS.InvokeVoidAsync("MasaOfficialWebsite.scrollToNext");
    }

}
