<MCard Class="product-card" Flat>
    <div class="product-card__header">
        <img src="@Image" height="65" width="65" />
        <div class="product-card__title">@Title</div>
    </div>

    <div class="product-card__desc">
        @Description
    </div>

    <MoreButton Href="@Href">了解详情</MoreButton>
</MCard>

@code {

    [Parameter, EditorRequired]
    public string? Image { get; set; }

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public string? Description { get; set; }

    [Parameter]
    public string? Href { get; set; }

}
