* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@keyframes heroFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes heroSpin {
  100% {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
}

#root {
  width: 100%;
}

.decoration a:active {
  // text-decoration: underline;
  // text-underline-offset: 10px;
  color: #6366f1;
}

.basicContent {
  // padding: 2rem 13rem;
  padding-left: 13rem;
  padding-right: 13rem;
}

.headerHue {
  position: fixed;
  background: #0b0f19;
}

.basicBtnColor {
  color: #fff;
  background: #6366f1;

  &:hover {
    color: #fff !important;
    background: #6366f1 !important;
    border-color: #6366f1 !important;
  }

  line-height: 1;
}

.Carousel {
  background-color: #350fe0e3;
  padding: 200px 13rem;
  display: flex;
  justify-content: space-between;

  .CarouselLeft {
    h1 {
      font-size: 4.5rem;
      color: #fff;
      font-weight: 800;
      line-height: 1.3;
      text-align: left;
      word-break: break-word;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;

      span {
        font-size: 4.5rem;
        display: inline-block;
      }
    }

    p {
      color: #fff;
      margin-right: 0.5rem;
      text-align: left;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  .CarouselRight {
    width: 38%;
    margin-right: 10rem;
    position: relative;

    .Content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .Box {
        min-height: 176px;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.04);
        border: radius 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47%;

        &:nth-child(2n) {
          margin-top: 3rem;
        }

        &:nth-child(n + 1) {
          span {
            animation-delay: 1.5s;
          }
        }

        &:nth-child(n + 2) {
          span {
            animation-delay: 0.75s;
          }
        }

        &:nth-child(n + 3) {
          span {
            animation-delay: 2s;
          }
        }

        span {
          font-size: 1.25rem;
          font-weight: 700;
          text-align: center;
          color: #fff;
          padding: 1.5rem;

          animation: heroFade 4s infinite;
        }
      }
    }

    .Masking {
      > div {
        width: 125%;
        max-width: 49.75rem;
        transform: translate(-50%, -50%) !important;
        position: absolute;
        left: 50%;
        top: 50%;

        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          animation: heroSpin 35s linear infinite;
        }
      }
    }
  }
}

.iconBox {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding-right: 3rem !important;

  img {
    width: 47px;
    margin-right: 0.5rem;
  }
}

.header {
  justify-content: start;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  position: absolute;
  box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05),
    0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
  padding-top: 1rem;

  .navbarNav {
    display: flex;

    .responsiveBox {
      color: #fff;
    }

    > a {
      justify-content: center;
      margin-right: 19px;
      padding-bottom: 6px;
      padding: 1px 10px 6px;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #6366f1;
      }
    }
  }

  .navbarSearch {
  }
}

.basicLayout {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

footer {
  background-color: #1f1627ec;

  .copyright {
    opacity: 0.5;
    color: #fff;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 3rem;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #fff;
  }
}

.footer {
  margin-top: 3rem;
  align-items: normal;
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-top: 1rem;
  border-top: 1px solid #fff;

  .footerLeft {
    width: 67%;

    .iconBox {
      margin-bottom: 1.5rem;
    }

    .iconInfo {
      opacity: 0.7;
      margin-bottom: 1.5rem;
      font-size: 1.0rem;
      padding-bottom: 1rem;
      color: #fff;
    }

    .emallBox {
      p {
        margin-bottom: 0.3125rem;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
      }

      .ant-space-compact {
        width: 100%;
      }
    }
  }

  // .address {
  //     color: #6366f1;
  //     font-weight: bold;
  //     border-color: #6366f1;
  // }

  .footerRight {
    .footerRightBox {
      display: flex;
    }

    .QRCodeBpx {
      text-align: center;
      color: #fff;
      margin-right: 1.5rem;

      div {
        margin-top: 0.5rem;
      }

      img {
        width: 120px;
      }
    }
  }
}

.linkContent {
  display: flex;
  margin-top: 3rem;

  h5 {
    font-size: 1.2rem;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 0.3rem;
    margin-bottom: 0.75rem;
  }

  .footerList {
    display: flex;
    flex-wrap: wrap;

    p {
      color: var(--text-color);
      transition-duration: 0.3s;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      font-size: 1rem;
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        color: #6366f1;
      }
    }
  }
}

.main {
  text-align: center;
  color: var(--text-color);

  h4 {
    font-size: 2rem;
    margin: 3rem 0;
  }

  .lableBox {
    display: flex;
    justify-content: space-between;

    > div {
      border: 1px solid #e2e5f1;
      border-radius: 0.5rem;
      width: 306px;
      margin-right: 24px;
      padding: 3rem 1.5rem;
      cursor: pointer;

      img {
        width: 40px;
        margin-bottom: 1rem;
      }

      .title {
        color: var(--text-color);
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        overflow: hidden;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      .content {
        color: var(--text-color);
        font-size: 0.8rem;
        line-height: 1.6;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      transition-duration: 0.3s;
      &:hover {
        box-shadow: 0 20px 20px -10px var(--hover-color);
      }
    }
  }
}
