/* 默认light主题 */
:root {
    --bg-color: #fff;
    --text-color: #0b0f19;
    --p-color: #0b0f19;
    --hover-color: rgba(0, 0, 0, 0.5);

}

/* dark */
:root[theme='light'] {
    --bg-color: #0b42b8;
    --text-color: #fff;
    --hover-color: rgba(238, 238, 238);
}


// html.dark {
//     color-scheme: dark;
// }


.App {
    background: var(--bg-color);
}