<MAppBar App
         Height="@BarHeight"
         Class="@($"appbar {Class}")"
         Flat
         Dense>
    <a href="/" style="display: contents">
        <img src="/favicon.ico"
             height="@LogoHeight"
             alt="logo" />
        <span Class="mr-9 h5 emphasis2--text">码界工坊</span>
    </a>
    
    <MSpacer />
    
    @ChildContent
</MAppBar>

@code {

    [Parameter] public int BarHeight { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter] public int LogoHeight { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

}