@inherits LayoutComponentBase

<MApp Class="masa website-shared">

    <div class="hidden-sm-and-down" style="position: absolute;width: 100vw;height: 100vh;">
        <svg class="vector-197" width="811" height="489" viewBox="0 0 811 489" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.17" d="M169.501 19.2565C-212.467 219.758 154.518 435.832 286 477.257C439.359 525.574 674.775 413.608 776.57 298.243C878.365 182.878 733 139.256 609 139.256C305 139.256 320.001 -59.7435 169.501 19.2565Z" fill="#4318FF"/>
        </svg>
        <svg class="vector-198" xmlns="http://www.w3.org/2000/svg" width="311" height="305" viewBox="0 0 311 305" fill="none">
            <path opacity="0.46" d="M86.9623 8.73412C-90.9182 57.6102 53.7769 97.8286 86.9623 172.986C125.669 260.648 161.598 328.962 219.778 296.992C315.867 244.191 314.765 136.66 308.678 118.692C302.591 100.724 247.311 -35.3247 86.9623 8.73412Z" fill="#05CD99"/>
        </svg>
        <div class="rectangle-723"></div>
    </div>

    <MobileAppBar NavItems="AllNavItems"/>

    <DesktopAppBar AboutNavItems="AllNavItems"/>

    <MMain>
        @Body
    </MMain>

    <div style="position: relative">
        <img src="https://cdn.masastack.com/images/footer.png"
             class="mb-n2"
             style="width: 100vw"
             alt="footer"/>
        <MFooter Color="#4318ff" Dark Padless>
            <MRow NoGutters Class="footer-content">
                <MCol Class="map" Cols="12" Md="7">
                    <MCard Color="transparent" Flat Dark
                           Class="footer-content__item footer-content__map">
                        <MCardTitle>网站地图</MCardTitle>
                        <MCardText>
                            <MRow>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span> 资源
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>
                                        </li>
                                        <li>
                                            <a href="https://masastack.com/blazor" target="_blank">MASA Blazor</a>
                                        </li>
                                        <li>
                                            <a href="https://antblazor.com/" target="_blank">Ant Design of Blazor</a>
                                        </li>
                                        <li>
                                            <a href="https://avaloniaui.net/" target="_blank">Avalonia UI</a>
                                        </li>
                                        <li>
                                            <a href="https://www.bilibili.com/" target="_blank">B站</a>
                                        </li>
                                        <li>
                                            <a href="https://youtube.com/" target="_blank">油管</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>社区
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="https://blog.lindexi.com/" target="_blank">林德熙</a>
                                        </li>
                                        <li>
                                            <a href="https://www.youzack.com/" target="_blank">YouZack</a>
                                        </li>
                                        <li>
                                            <a href="https://wtmdoc.walkingtec.cn/" target="_blank">WTM</a>
                                        </li>
                                        <li>
                                            <a href="http://www.volcore.xyz/" target="_blank">VOL开发框架</a>
                                        </li>
                                        <li>
                                            <a href="https://www.okay123.top/" target="_blank">可乐不加冰</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>社区
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="http://randyfield.cn/" target="_blank">Garfield-加菲的博客</a>
                                        </li>
                                        <li>
                                            <a href="https://furion.net/" target="_blank">Furion</a>
                                        </li>
                                        <li>
                                            <a href="https://ldqk.xyz/" target="_blank">懒得勤快</a>
                                        </li>
                                        <li>
                                            <a href="https://www.52abp.com/" target="_blank">52ABP框架</a>
                                        </li>
                                        <li>
                                            <a href="https://blog.csdn.net/kebi007" target="_blank">dotnet全栈开发</a>
                                        </li>
                                    </ul>
                                </MCol>
                                <MCol Cols="3" class="map-item">
                                    <div class="map-item__title">
                                        <span class="prefix"></span>社区
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="https://token-ai.cn/" target="_blank">TokenBlog</a>
                                        </li>
                                        <li>
                                            <a href="http://www.hzhcontrols.com/" target="_blank">HZHControls</a>
                                        </li>
                                        <li>
                                            <a href="https://blog.sblt.deali.cn:9000/" target="_blank">程序设计实验室</a>
                                        </li>
                                        <li>
                                            <a href="https://jhrs.com/" target="_blank">江湖人士</a>
                                        </li>
                                        <li>
                                            <a href="https://znlive.com/" target="_blank">Coding Life</a>
                                        </li>
                                    </ul>
                                </MCol>
                            </MRow>

                        </MCardText>
                    </MCard>
                </MCol>

                <MCol Cols="12" OffsetMd="2" Md="3">
                    <MRow NoGutters>
                        <MCol Cols="12">
                            <MCard Color="transparent" Flat Dark Class="footer-content__item business">
                                <MCardTitle>技术交流</MCardTitle>
                                <MCardText Class="contacts">
                                    <div class="contact-item">
                                        <MIcon Dark Class="mr-3">mdi-email</MIcon>
                                        <a href="mailto:632871194@qq.com">632871194@qq.com</a>
                                    </div>
                                </MCardText>
                            </MCard>
                        </MCol>
                        <MCol Cols="12">
                            <MCard Color="transparent" Flat Dark Class="footer-content__item footer-content__focus">
                                <MCardTitle>关注我们</MCardTitle>
                                <MCardText>
                                    <CodeWF.Components.Shared.ContactMeBtn @rendermode=RenderMode.InteractiveAuto IconName="mdi-wechat" ImgSrc="https://img1.dotnet9.com/site/wechatpublic.jpg" />

                                    <CodeWF.Components.Shared.ContactMeBtn @rendermode=RenderMode.InteractiveAuto IconName="mdi-qqchat" ImgSrc="https://img1.dotnet9.com/site/qqgoup1.png" />

                                    <MButton Href="https://space.bilibili.com/470546606"
                                             Large="true" Icon="true" Outlined="true" Color="white"
                                             Class="mx-2 pa-8" Target="_blank">
                                             <img class="cover"
                                                  src="https://cdn.masastack.com/images/bilibili.png"
                                                  alt="bilibili" />
                                    </MButton>
                                    
                                </MCardText>
                            </MCard>
                        </MCol>
                    </MRow>
                </MCol>
                <MCol Cols="12" Class="footer-content__logo">
                    <img src="https://img1.dotnet9.com/site/logo.png"
                         width="60"
                         alt="logo"
                         class="hidden-sm-and-down"/>
                    <div>码界工坊 - <a class="text-decoration-none white--text" href="https://beian.miit.gov.cn" target="_blank">蜀ICP备19038256号-1</a></div>
                </MCol>
            </MRow>
        </MFooter>
    </div>
</MApp>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    [SupplyParameterFromQuery] private string? FollowUs { get; set; }


    private Dictionary<string, object> FollowUsParameters => new()
    {
        { nameof(FollowUsBtn.Image), FollowUs == "wechat" ? "https://img1.dotnet9.com/site/wechatpublic.jpg" : "https://img1.dotnet9.com/site/qqgoup1.png" },
        { nameof(FollowUsBtn.Class), FollowUs }
    };


    private static List<NavItem> AllNavItems { get; } =

    [
        new NavItem("关于", "", "", "/about", 12)
    ];

}