<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="CodeWF|.NET|dotnet|WPF|AvaloniaUI|Blazor|MAUI|开发框架|webassembly|沙漠尽头的狼">
    <meta name="description" content="码界工坊是一个热衷于互联网分享精神的网站，这里有工具，也有文章，助力开发人员和IT工作者。">
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="CodeWF.Blog.Web.styles.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>

    <!--重置浏览器样式-->
    <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-100-M/normalize/8.0.1/normalize.css">
    <!--代码块主题-->
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism-themes/1.9.0/prism-coy-without-shadows.min.css">
    <!--工具栏插件-->
    <link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/toolbar/prism-toolbar.min.css">
    <!--行号插件-->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/line-numbers/prism-line-numbers.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002" crossorigin="anonymous"></script>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>

<!--prism核心js (用于渲染代码块)-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/prism.min.js"></script>
<!--显示代码块行号-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<!--工具栏(一些插件的前置依赖)-->
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/toolbar/prism-toolbar.min.js"></script>
<!--代码块显示语言名称-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/show-language/prism-show-language.min.js"></script>
<!--复制代码-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<!--自动去cdn加载对应语言的代码高亮js-->
    <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-100-M/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        window.highlightAll = () => {
            Prism.highlightAll();
        }
    </script>
</body>

</html>