<footer class="rc-footer rc-footer-dark">
    <section class="rc-footer-container">
        <section class="rc-footer-columns">
            <div class="rc-footer-column">
                <h2>@Localizer["app.footer.resources"]</h2>
                <div class="rc-footer-item">
                    <a href="https://www.bilibili.com/" target="_blank">B站</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://youtube.com/" target="_blank">油管</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://antblazor.com/zh-CN/" target="_blank">Ant Design of Blazor</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://avaloniaui.net/" target="_blank">Avalonia UI</a>
                </div>
            </div>
            <div class="rc-footer-column">
                <h2>@Localizer["app.footer.community"]</h2>
                <div class="rc-footer-item">
                    <a href="https://blog.lindexi.com/" target="_blank">林德熙</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://www.youzack.com/" target="_blank">YouZack</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://wtmdoc.walkingtec.cn/" target="_blank">WTM</a>
                </div>
                <div class="rc-footer-item">
                    <a href="http://www.volcore.xyz/" target="_blank">VOL开发框架</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://www.okay123.top/" target="_blank">可乐不加冰</a>
                </div>
            </div>
            <div class="rc-footer-column">
                <h2>@Localizer["app.footer.community"]</h2>
                <div class="rc-footer-item">
                    <a href="http://randyfield.cn/" target="_blank">Garfield-加菲的博客</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://furion.net/" target="_blank">Furion</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://ldqk.xyz/" target="_blank">懒得勤快</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://www.52abp.com/" target="_blank">52ABP框架</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://blog.csdn.net/kebi007" target="_blank">dotnet全栈开发</a>
                </div>
            </div>
            <div class="rc-footer-column">
                <h2>@Localizer["app.footer.community"]</h2>
                <div class="rc-footer-item">
                    <a href="https://token-ai.cn/" target="_blank">TokenBlog</a>
                </div>
                <div class="rc-footer-item">
                    <a href="http://www.hzhcontrols.com/" target="_blank">HZHControls</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://blog.sblt.deali.cn:9000/" target="_blank">程序设计实验室</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://jhrs.com/" target="_blank">江湖人士</a>
                </div>
                <div class="rc-footer-item">
                    <a href="https://znlive.com/" target="_blank">Coding Life</a>
                </div>
            </div>
        </section>
    </section>
    <section class="rc-footer-bottom">
        <div class="rc-footer-bottom-container">
            本站由 <a href="https://dotnet.microsoft.com/zh-cn/" target="_blank">.NET 9</a> 和 <a href="https://antblazor.com/zh-CN/" target="_blank">Ant Design of Blazor</a> 强力驱动
            | 备案号：<a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备19038256号-1</a>
        </div>
    </section>
</footer>