<MCard Class="aboutus-card" Flat>
    <img src="@Image" class="aboutus-card__image" />
    <div class="aboutus-card__description">
        @Description
    </div>
</MCard>

@code {

    [Parameter, EditorRequired]
    public string? Image { get; set; }

    [Parameter, EditorRequired]
    public string? Description { get; set; }

}
