<div class="cl-menu-bar" onclick="cl_click_bar(this)"><i class="far fa-bars"></i></div>
<script>
    var isMenuShow = false;
    function cl_click_bar(obj) {
        const target = '@Target';
        const menu = document.querySelector('.' + target);
        if (!menu) return;
        
        if (isMenuShow) {
            menu.style.display = 'none';
            obj.style.left = '0';
        } else {
            menu.style.display = 'block';
            obj.style.left = '199px';
        }
        isMenuShow = !isMenuShow;
    }
</script>

@code {
    [Parameter] public string Target { get; set; }
}