@using CodeWF.Options
@using Microsoft.Extensions.Options
@inject IOptions<SiteOption> SiteOption
<div class="counts">
    <span class="like">@(Post?.Lastmod?.ToString("yyyy-MM-dd HH:mm:ss") ?? Post?.Date?.ToString("yyyy-MM-dd HH:mm:ss")) </span>
    <span style="margin:0 5px;">|</span>
    <span class="author">@(string.IsNullOrWhiteSpace(Post?.Author) ? SiteOption.Value.Owner: Post!.Author)</span>
</div>

@code {
    [Parameter] public BlogPost Post { get; set; }
}