@inherits BaseComponent

<div class="tags">
    @if (Tags?.Any() ==  true)
    {
        foreach (var tag in Tags)
        {
            @* <a class="ant-tag ant-tag-blue" href="@Url.GetBbsTagUrl(tag)">@tag</a> *@
            <AntTag Color="blue">@tag</AntTag>
        }
    }
</div>

@code {
    [Parameter] public List<string>? Tags { get; set; }
}