@inherits Masa.Blazor.Core.MasaComponentBase


<div class="toggle checkbox-wrapper @Class" style="@Style @GetZoom()">
    <label class="switch mx-auto">
        <input @bind="@Dark" @bind:after=ThemeChanged type="checkbox" />
        <span class="slider"></span>
    </label>
</div>