@namespace CodeWF.Docs.Shared.Components
@inject I18n I18n

<a class="d-flex justify-center" 
   style="width: 100%; height:100%"
   href="/"
   @attributes="@Attributes">
    <MImage Src="https://img1.dotnet9.com/site/logo.ico"
            alt="@I18n.T("logo")"
            Class="shrink"
            MaxWidth="180"
            Width="32" />
</a>

@code {

    [CascadingParameter(Name = "IsDark")]
    private bool IsDark { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new();
}
