@inject IOptions<SiteOption> SiteOptions

<PageTitle>标题转URL别名 - @SiteOptions.Value.AppTitle</PageTitle>

<h1>标题转URL别名</h1>
<p>将标题转换为URL友好的格式</p>

<p>需要转换的标题</p>
<input type="text" id="title"/>

<p>转换后的别名</p>
<input type="text" id="slug"/>

<button onclick="convert()">转换</button>
<button onclick="copy()">复制</button>

<script type="text/javascript">
    async function convert(){
        var title = $("#title").val();
        const eventSource = new EventSource('/ai/Title2Slug');
        eventSource.onerror = function(event) {
            $("#slug").val(event);
        }
        eventSource.onmessage = (event) => {
            $("#slug").val(event.data);
        }
    }
    function copy(){

    }
</script>

@code
{
    public const string Slug = "slugify-string";
}