@page
@model IndexModel
@{
    ViewData["Title"] = "网站导航";
}

<div class="group">
    <h3>当前网站分组</h3>
    <p>访问我们的主网站。</p>
    <a href="https://dotnet9.com" target="_blank">dotnet9.com</a> |
    <a href="https://dotnetools.com" target="_blank">dotnetools.com</a> |
    <a href="https://codewf.com" target="_blank">codewf.com</a> |
    <a href="https://dotnet.chat" target="_blank">dotnet.chat</a>
</div>

<div class="group">
    <h3>博客网站分组</h3>
    <p>深入阅读，探索知识的海洋。</p>
    <a href="https://blog.dotnet9.com" target="_blank">blog.dotnet9.com</a> |
    <a href="https://blog.dotnetools.com" target="_blank">blog.dotnetools.com</a> |
    <a href="https://blog.codewf.com" target="_blank">blog.codewf.com</a> |
    <a href="https://blog.dotnet.chat" target="_blank">blog.dotnet.chat</a>
</div>

<div class="group">
    <h3>Vue工具站分组</h3>
    <p>Vue.js 开发者的工具箱。</p>
    <a href="https://tools.dotnet9.com" target="_blank">tools.dotnet9.com</a> |
    <a href="https://tools.dotnetools.com" target="_blank">tools.dotnetools.com</a> |
    <a href="https://tools.codewf.com" target="_blank">tools.codewf.com</a> |
    <a href="https://tools.dotnet.chat" target="_blank">tools.dotnet.chat</a>
</div>

<div class="group">
    <h3>Blazor工具站分组</h3>
    <p>Blazor 开发者的必备工具。</p>
    <a href="https://btools.dotnet9.com" target="_blank">btools.dotnet9.com</a> |
    <a href="https://btools.dotnetools.com" target="_blank">btools.dotnetools.com</a> |
    <a href="https://btools.codewf.com" target="_blank">btools.codewf.com</a> |
    <a href="https://btools.dotnet.chat" target="_blank">btools.dotnet.chat</a>
</div>