@page
@model IndexModel
@{
    ViewData["Title"] = "网站导航";
}

<div class="group">
    <h3>记住我们的网站，不要迷路哦：</h3>
    <a href="https://dotnet9.com" target="_blank">dotnet9.com</a> |
    <a href="https://dotnetools.com" target="_blank">dotnetools.com</a> |
    <a href="https://codewf.com" target="_blank">codewf.com</a> |
    <a href="https://dotnet.chat" target="_blank">dotnet.chat</a>
</div>