@inherits BaseComponent

<CmsCard>
    @if (CurrentUser == null)
    {
        <AntButton Name="登录 | 注册" Block OnClick="AntBlazor.showModal('modal-login')" />
    }
    else
    {
        <div class="cl-sign-box">
            <div class="user">
                <a href="@Url.UserCreatorUrl">
                    <AntAvatar Src="@CurrentUser?.AvatarUrl" />
                    <span>@CurrentUser?.Name</span>
                </a>
            </div>
            <div>
                <AntButton Name="去提问" OnClick="@($"location='{Url.PostFormUrl}'")" />
            </div>
        </div>
        <div class="cl-sign-bottom">
            <span><span class="count">@user?.ContentQty</span> 问题</span>
            <span class="divider">|</span>
            <span><span class="count">@user?.ReplyQty</span> 回复</span>
        </div>
    }
</CmsCard>
@if (CurrentUser == null)
{
    <LoginForm Id="modal-login" />
}

@code {
    private CmUser user = new();

    [Parameter] public ISiteService Service { get; set; }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        if (CurrentUser != null)
            user = await Service.GetUserAsync(CurrentUser.Id);
    }
}