@page "/activity"

<PageTitle>温州数闪科技有限公司</PageTitle>

<ActivitiesBanner />

<div class="home-content">
    <div class="home-content__item">
        <div>
            <MRow Class="no-gutters-on-mobile">
                @foreach (var item in FilteredActivities.Take(6))
                {
                    <MCol Cols="12" Md="4" Class="activity-content__card">
                        <ActivityCard Data="item" />
                    </MCol>
                }
            </MRow>
        </div>

        @if (AllActivities.Count > 6)
        {
            <div class="d-flex justify-center activity-header__description hidden-md-and-up"
                 style="margin-top:30px;">
                更多活动...
            </div>

            <div class="hidden-sm-and-down"
                 style="margin-top:50px;margin-bottom:100px ;float:right;">
                <MPagination @bind-Value="_page" Length="4"></MPagination>
            </div>
        }
    </div>
</div>
