@page "/"

<PageTitle>码界工坊</PageTitle>

<HomeBanner />

<div class="home-content">

    <div class="home-content__item full-page" id="tool-content">
        <div class="home-content__item-header">
            <MenuTitleInteractiveTrigger InteractiveValue="product" Items="menuableTitleItems" Title="在线工具箱"></MenuTitleInteractiveTrigger>
            <div class="home-content__item-subtitle">Online Toolbox</div>
        </div>
        <MRow Class="home-content__item-cards no-gutters-on-mobile">
            <MCol Cols="12" Md="4">
                <ProductCard Title="二维码生成器"
                             Href="https://tools.codewf.com/qrcode-generator"
                             Image="https://img1.dotnet9.com/site/tools/qrcode-generator.png"
                             Description="生成并下载url或文本的QR代码，并自定义背景和前景颜色。">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title="日期时间转换器"
                             Href="https://tools.codewf.com/date-converter"
                             Image="https://img1.dotnet9.com/site/tools/date-converter.png"
                             Description="将日期和时间转换为各种不同的格式">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title="整数基转换器"
                             Href="https://tools.codewf.com/base-converter"
                             Image="https://img1.dotnet9.com/site/tools/base-converter.png"
                             Description="在不同的基数（十进制、十六进制、二进制、八进制、base64…）之间转换数字">
                </ProductCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item full-page" id="blog-content">
        <div class="home-content__item-header">
            <MenuTitleInteractiveTrigger InteractiveValue="product" Items="menuableTitleItems" Title="博客"></MenuTitleInteractiveTrigger>
            <div class="home-content__item-subtitle">Blog</div>
        </div>
        <MRow Class="home-content__item-cards no-gutters-on-mobile">
            <MCol Cols="12" Md="4">
                <ProductCard Title="NetBeauty2：让你的.NET项目输出目录更清爽"
                             Href="https://blog.codewf.com/post/2024/3/12/netbeauty2-let-your-dotnet-project-output-directory-is-more-refreshing"
                             Image="https://img1.dotnet9.com/site/tools/clear.png"
                             Description="生成并下载在.NET项目开发中，随着项目复杂性的增加，依赖的dll文件也会逐渐增多。这往往导致输出目录混乱，不便于管理和部署。而NetBeauty2开源项目正是为了解决这一问题而生，它能够帮助开发者在独立发布.NET项目时，将.NET运行时和依赖的dll文件移动到指定的目录，从而让输出目录更加干净、清爽。">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title=".NET跨平台客户端框架 - Avalonia UI"
                             Href="https://blog.codewf.com/post/2022/11/19/one-of-the-best-choices-for-dotnet-cross-platform-frameworks-avalonia-ui"
                             Image="https://img1.dotnet9.com/site/tools/avalonia-white-purple.svg"
                             Description="这是一个基于WPF XAML的跨平台UI框架，并支持多种操作系统（Windows（.NET Core），Linux（GTK），MacOS，Android和iOS），Web（WebAssembly）">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title="各版本操作系统对.NET支持情况"
                             Href="https://blog.codewf.com/post/2024/1/13/each-version-of-the-operating-system-is-correct-dotnet-support"
                             Image="https://img1.dotnet9.com/site/tools/dotnet.png"
                             Description="借助虚拟机和测试机，检测各版本操作系统对.NET的支持情况。安装操作系统后，实测安装相应运行时并能够运行星尘代理为通过。">
                </ProductCard>
            </MCol>
        </MRow>
    </div>

    <div class="home-content__item full-page" id="resource-content">
        <div class="home-content__item-header">
            <MenuTitleInteractiveTrigger InteractiveValue="product" Items="menuableTitleItems" Title="资源"></MenuTitleInteractiveTrigger>
            <div class="home-content__item-subtitle">Resource</div>
        </div>
        <MRow Class="home-content__item-cards no-gutters-on-mobile">
            <MCol Cols="12" Md="4">
                <ProductCard Title="HandyControl"
                             Href="https://blog.dotnet9.com/post/2019/12/9/open-source-wpf-control-library-handycontrol"
                             Image="https://img1.dotnet9.com/2019/12/0206.png"
                             Description="一个很多人参与贡献的WPF开源控件项目">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title="WPF牛逼的动画库：XamlFlair"
                             Href="https://blog.dotnet9.com/post/2023/7/3/one-wpf-awesome-animation-library-xamlflair"
                             Image="https://img1.dotnet9.com/2021/07/cover_05.jpg"
                             Description="XamlFlair库的目标是简化常见动画的实现，并允许开发人员使用几行Xaml`轻松`地添加单个或组合的动画集。">
                </ProductCard>
            </MCol>
            <MCol Cols="12" Md="4">
                <ProductCard Title=".NET类库“Vanara”：简单易用的Windows API封装库"
                             Href="https://blog.dotnet9.com/post/2021/6/28/dotnet-classlibrary-vanara-an-easy-to-use-windows-api-encapsulation-library"
                             Image="https://img1.dotnet9.com/2021/06/cover_01.png"
                             Description="一系列非常简单易用，对Windows API做了极好封装的.NET类库，几乎不用再写繁琐的Windows API转换函数了。">
                </ProductCard>
            </MCol>
        </MRow>
    </div>

</div>
